<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}NumbersDash{% endblock %}
{% load humanize %}

{% block content %}
<div class="offset-0 col-11 listafilmes-div">
    <div class="flex-container">
        <!-- Configuração da ação do filtro -->
        <div class="col-3 filterano-div">
            <span>Ano:</span>
            <select name="filterano" id="filterano" class="form-control">
                <option value="0">Todos</option>
                {% for ano in listaanos %}
                {% if filteranoatual == ano.ano %}
                <option value="{{ ano.ano }}" selected>{{ ano.ano }}</option>
                {% else %}
                <option value="{{ ano.ano }}">{{ ano.ano }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="custom-control custom-switch top10-div">
            {% if filtertopatual == "on" %}
            <input type="checkbox" class="custom-control-input" id="customSwitch1" checked onclick="muda('off')">
            <label class="custom-control-label" for="customSwitch1">TOP 10</label>
            {% else %}
            <input type="checkbox" class="custom-control-input" id="customSwitch2" onclick="muda('on')">
            <label class="custom-control-label" for="customSwitch2">TOP 10</label>
            {% endif %}
        </div>
        <h3># Filmes: {{qtdefilmes}}</h3>
    </div>
    <div class="container lista-filmes">
        <table class="table">   <!--  table-bordered table-sm  -->
            <thead>
            <tr>
                <th>Nome do Filme</th>
                <th>Ano</th>
                <th class="text-center">Mes</th>
                <th class="text-center">Genero</th>
                <th class="text-center">Tipo</th>
                <th class="text-right">Receita</th>
            </tr>
            </thead>
            <tbody>
            {% for filme in listafilmes %}
            <tr>
                <td><span><a href="/filme/{{filme.id}}">{{filme.nome}}</a></span></td>
                <td>{{filme.ano}}</td>
                <td class="text-center">{{filme.mes}}</td>
                <td class="text-center">{{filme.genero}}</td>
                <td class="text-center">{{filme.tipo}}</td>
                <td class="text-right">{{filme.receita | intcomma}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
